@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-list {
  display: flex;
  flex-direction: column;
  transform: scaleX(0);
  transform-origin: left;
  opacity: 0;
  position: absolute;
  top: 68px;
  left: 0;
  width: 70%;
  transition: transform 0.3s, opacity 0.3s;
  z-index: 3;
}

.nav-list.open {
  transform: scaleX(1);
  opacity: 1;
}

/* .menu-open {
  transform: rotate(90deg);
} */
.rotate-icon {
  transition: transform 0.3s ease;
}

.menu-open .rotate-icon {
  transform: rotate(90deg);
}

.link {
  position: relative;
}

.link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 3px;
  transition: transform 0.3s ease, width 0.3s ease;
  transform-origin: right;
}

.link:hover::after {
  width: 100%;
  transform: scaleX(100%);
  background-color: #da2c49;
}

.register-input::placeholder {
  color: red;
}

.nav-dropdown {
  transition: background-color 0.3s, color 0.3s; 
}

.nav-dropdown:hover {
  background-color: rgba(240, 128, 128, 0.3); 
  color: red; 
  cursor: pointer;
}